<!DOCTYPE html>
<html>
<head>
	<title>Board Game</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div ng-app="myApp">

		<div class="container" ng-controller="boardCtrl">

			<div class="row" ng-if="congratsMessage">
				<div class="col-md success-msg">
					{{congratsMessage}}		
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<label>Select difficulty</label>
					<select class="form-control" ng-model="selectedLevel" ng-change="levelChanged()">
					  <option ng-repeat="level in levels" value="{{level.name}}">{{level.name}}</option>
					</select>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary" ng-click="startGame()">Start game</button>
				</div>

				<div class="col-md-2">
					<button type="button" class="btn btn-danger" ng-click="stopGame()">Stop game</button>
				</div>

				<div class="col-md-2">Score : {{score}}</div>
				<div class="col-md-3">High Score {{highScore}}</div>
			</div>

			<div class="col-md-12 board">

				<div class="row" ng-repeat="row in cells track by $index">
					<div class="column" ng-repeat="column in row track by $index" ng-class="{'active': $index == focusCell}" ng-click="cellClicked($index == focusCell)">{{$index}}</div>
				</div>
			</div>
			
		</div>

	</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.js"></script>
<script src="app.js"></script>

</body>
</html>